<div><template>
    <mdb-container>
      <section class="text-center my-5">
        <h2 class="h1-responsive font-weight-bold my-5">{{ $t("message.titrepresPage") }}</h2>
        <p class="grey-text w-responsive mx-auto mb-5">{{ $t("message.textePresPage") }}</p>
        <mdb-row class="d-flex justify-content-center">
          <mdb-col md="6" xl="5" class="mb-4">
            <mdb-view class="overlay rounded z-depth-2">
              <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" alt="sample photo" class="img-fluid"/>
              <a>
                <mdb-mask waves overlay="white-slight"/>
              </a>
            </mdb-view>
            <mdb-card-body class="pb-0">
              <a href="" class="green-text"><h5 class="font-weight-bold mt-2 mb-3"><mdb-icon icon="chart-line" class="pr-2"/>Marketing</h5></a>
              <h4 class="font-weight-bold mb-3">{{ $t("message.titrepresPage1") }}</h4>
              <p>{{ $t("message.textePresPage1") }}</p>
            </mdb-card-body>
          </mdb-col>
          <mdb-col md="6" xl="5" class="mb-4">
            <mdb-view class="overlay rounded z-depth-2">
              <img src="https://mdbootstrap.com/img/Photos/Others/images/19.jpg" alt="sample photo" class="img-fluid"/>
              <a>
                <mdb-mask waves overlay="white-slight"/>
              </a>
            </mdb-view>
            <mdb-card-body class="pb-0">
              <a href="" class="blue-text"><h5 class="font-weight-bold mt-2 mb-3"><mdb-icon icon="eye" class="pr-2"/>Entertainment</h5></a>
              <h4 class="font-weight-bold mb-3">{{ $t("message.titrepresPage2") }}</h4>
              <p>{{ $t("message.textePresPage2") }}</p>
            </mdb-card-body>
          </mdb-col>
          <mdb-col md="6" xl="5" class="mb-4">
            <mdb-view class="overlay rounded z-depth-2">
              <img src="../../assets/img-temp/moteurs.jpg" alt="sample photo" class="img-fluid"/>
              <a>
                <mdb-mask waves overlay="white-slight"/>
              </a>
            </mdb-view>
            <mdb-card-body class="pb-0">
              <a href="" class="brown-text"><h5 class="font-weight-bold mt-2 mb-3"><mdb-icon icon="camera" class="pr-2"/>Travel</h5></a>
              <h4 class="font-weight-bold mb-3">{{ $t("message.titrepresPage3") }}</h4>
              <p>{{ $t("message.textePresPage3") }}</p>
            </mdb-card-body>
          </mdb-col>
          <mdb-col md="6" xl="5" class="mb-4">
            <mdb-view class="overlay rounded z-depth-2">
              <img src="../../assets/img-temp/ourRobot3.jpg" alt="sample photo" class="img-fluid"/>
              <a>
                <mdb-mask waves overlay="white-slight"/>
              </a>
            </mdb-view>
            <mdb-card-body class="pb-0">
              <a href="" class="cyan-text"><h5 class="font-weight-bold mt-2 mb-3"><mdb-icon icon="phone" class="pr-2"/>Technology</h5></a>
              <h4 class="font-weight-bold mb-3">{{ $t("message.titrepresPage4") }}</h4>
              <p>{{ $t("message.textePresPage4") }}</p>
            </mdb-card-body>
          </mdb-col>
        </mdb-row>
      </section>
    </mdb-container>
  </template></div>